Repository jayjaehunchoi/Palette, pull requests merged in 2021-11, with the labels that each got.

#14 수정 : Post domain 수정, Like domain 수정
  backend/src/main/java/com/palette/domain/post/Like.java
  backend/src/main/java/com/palette/domain/post/MyFile.java
  backend/src/main/java/com/palette/domain/post/Photo.java
  backend/src/main/java/com/palette/domain/post/Post.java
  backend/src/main/java/com/palette/domain/post/PostGroup.java
  backend/src/main/java/com/palette/dto/PeriodDto.java
  backend/src/main/java/com/palette/dto/request/CommentDto.java
  backend/src/main/java/com/palette/dto/request/PostGroupDto.java
  backend/src/main/java/com/palette/dto/request/PostUpdateDto.java
  backend/src/main/java/com/palette/dto/response/PostGroupResponseDto.java
  backend/src/main/java/com/palette/dto/response/PostResponseDto.java
  backend/src/main/java/com/palette/dto/response/StoryListResponseDto.java
  backend/src/main/java/com/palette/exception/PaletteException.java
  backend/src/main/java/com/palette/exception/PostGroupException.java
  backend/src/main/java/com/palette/repository/LikeRepository.java
  backend/src/main/java/com/palette/repository/LikeRepositoryCustom.java
  backend/src/main/java/com/palette/repository/PostGroupRepository.java
  backend/src/main/java/com/palette/repository/PostGroupRepositoryCustom.java
  backend/src/main/java/com/palette/repository/PostRepositoryCustom.java
  backend/src/main/java/com/palette/repository/impl/LikeRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostGroupRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/palette/service/FileStorageService.java
  backend/src/main/java/com/palette/service/LikeService.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#17 추가: 로그인, 회원가입, 마이페이지 화면 작업
  frontend/css/member.css
  frontend/js/login.js
  frontend/js/member.js
  frontend/member/join.html
  frontend/member/login.html
  frontend/member/modifyInfo.html
  frontend/static/header.html
Labels: 🥇 Frontend

#18 추가 : 단건 조회 로직, AWS S3 파일 업로드 , 조회, 삭제 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/palette/config/AmazonS3Config.java
  backend/src/main/java/com/palette/domain/post/Comment.java
  backend/src/main/java/com/palette/domain/post/Like.java
  backend/src/main/java/com/palette/dto/request/CommentDto.java
  backend/src/main/java/com/palette/dto/request/PostRequestDto.java
  backend/src/main/java/com/palette/dto/response/CommentResponseDto.java
  backend/src/main/java/com/palette/dto/response/PostResponseDto.java
  backend/src/main/java/com/palette/dto/response/StoryListResponseDto.java
  backend/src/main/java/com/palette/exception/CommentException.java
  backend/src/main/java/com/palette/exception/PostException.java
  backend/src/main/java/com/palette/repository/CommentRepository.java
  backend/src/main/java/com/palette/repository/CommentRepositoryCustom.java
  backend/src/main/java/com/palette/repository/PostGroupRepository.java
  backend/src/main/java/com/palette/repository/PostRepository.java
  backend/src/main/java/com/palette/repository/impl/CommentRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/LikeRepositoryImpl.java
  backend/src/main/java/com/palette/service/CommentService.java
  backend/src/main/java/com/palette/service/FileStorageService.java
  backend/src/main/java/com/palette/service/LikeService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/main/java/com/palette/utils/S3Uploader.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/repository/CommentRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/CommentServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#19 추가 : 로그인 세션 확인용 argumentResolver 생성 디렉토리 변경에 따른 테스트 코드 수정 , RestController 샘플
  backend/src/main/java/com/palette/config/WebConfig.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/domain/Period.java
  backend/src/main/java/com/palette/dto/GeneralResponse.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/main/java/com/palette/utils/ConstantUtil.java
  backend/src/main/java/com/palette/utils/HttpResponseUtil.java
  backend/src/main/java/com/palette/utils/S3Uploader.java
  backend/src/main/java/com/palette/utils/SessionUtil.java
  backend/src/main/java/com/palette/utils/advice/PaletteExceptionHandler.java
  backend/src/main/java/com/palette/utils/annotation/Login.java
  backend/src/main/java/com/palette/utils/argumentresolver/LoginArgumentResolver.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#20 추가 : 메인 페이지 visual 작업
  frontend/css/main.css
  frontend/images/slide_1.jpg
  frontend/images/slide_2.jpg
  frontend/index.html
  frontend/js/main.js
Labels: 🥇 Frontend

#21 추가 : 게시판 화면 작업
  frontend/Board/myblog.html
  frontend/Board/myblogDetail.html
  frontend/Board/read.html
  frontend/Board/story.html
  frontend/Board/storyDetail.html
  frontend/Board/write.html
  frontend/css/read.css
  frontend/css/story.css
  frontend/css/write.css
  frontend/js/myblog.js
  frontend/static/header.html
Labels: 🥇 Frontend

#24 Feat kyoungin
  backend/gradlew
  backend/src/main/java/com/palette/config/CustomOAuth2UserService.java
  backend/src/main/java/com/palette/config/OAuthAttributes.java
  backend/src/main/java/com/palette/config/SessionUser.java
  backend/src/main/java/com/palette/domain/member/Member.java
  backend/src/main/java/com/palette/dto/MemberDto.java
  backend/src/main/java/com/palette/dto/response/LikeResponseDto.java
  backend/src/main/java/com/palette/dto/response/PostGroupResponseDto.java
  backend/src/main/java/com/palette/dto/response/PostResponseDto.java
  backend/src/main/java/com/palette/repository/impl/CommentRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostGroupRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/palette/service/MemberService.java
  backend/src/main/java/com/palette/utils/ConstantUtil.java
  backend/src/test/java/com/palette/GroupTests.java
  backend/src/test/java/com/palette/ProfileTests.java
  backend/src/test/java/com/palette/repository/CommentRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/CommentServiceTest.java
  backend/src/test/java/com/palette/service/MemberServiceTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#26 추가 : 여러가지 추가
  backend/src/main/java/com/palette/domain/group/Budget.java
  backend/src/main/java/com/palette/domain/group/Expense.java
  backend/src/main/java/com/palette/domain/group/Group.java
  backend/src/main/java/com/palette/domain/group/MemberGroup.java
  backend/src/main/java/com/palette/dto/request/BudgetDto.java
  backend/src/main/java/com/palette/dto/request/BudgetUpdateDto.java
  backend/src/main/java/com/palette/dto/request/ExpenseDto.java
  backend/src/main/java/com/palette/dto/request/GroupUpdateDto.java
  backend/src/main/java/com/palette/dto/response/BudgetResponseDto.java
  backend/src/main/java/com/palette/repository/GroupRepository.java
  backend/src/main/java/com/palette/repository/MemberGroupRepository.java
  backend/src/main/java/com/palette/service/CommentService.java
  backend/src/main/java/com/palette/service/GroupService.java
  backend/src/test/java/com/palette/repository/BudgetRepositoryTest.java
  backend/src/test/java/com/palette/repository/ExpenseRepositoryTest.java
  backend/src/test/java/com/palette/repository/GroupRepositoryTest.java
  backend/src/test/java/com/palette/service/CommentServiceTest.java
  backend/src/test/java/com/palette/service/GroupServiceTest.java
Labels: 👍 backend

#27 추가 : 메인페이지 intro, about, greeting 작업
  frontend/css/main.css
  frontend/index.html
  frontend/js/main.js
  frontend/static/header.html
Labels: 🥇 Frontend

#28 추가 : 메인페이지 이미지 파일 추가
  frontend/images/from_palette_image.png
  frontend/images/square.png
  frontend/images/triangle.png
Labels: 🥇 Frontend

#29 수정 : 페이징 요구사항 수정 반영한 컨트롤러 생성, XSS 보안을 위한 Escape 추가
  backend/build.gradle
  backend/src/main/java/com/palette/config/CustomOAuth2UserService.java
  backend/src/main/java/com/palette/config/WebConfig.java
  backend/src/main/java/com/palette/controller/CommentController.java
  backend/src/main/java/com/palette/controller/PageController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/domain/group/Budget.java
  backend/src/main/java/com/palette/domain/group/Expense.java
  backend/src/main/java/com/palette/domain/group/Group.java
  backend/src/main/java/com/palette/domain/group/MemberGroup.java
  backend/src/main/java/com/palette/dto/SearchCondition.java
  backend/src/main/java/com/palette/dto/response/PostResponseDto.java
  backend/src/main/java/com/palette/repository/PostGroupRepositoryCustom.java
  backend/src/main/java/com/palette/repository/PostRepositoryCustom.java
  backend/src/main/java/com/palette/repository/impl/CommentRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostGroupRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostRepositoryImpl.java
  backend/src/main/java/com/palette/service/CommentService.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/main/java/com/palette/utils/HtmlCharacterEscapes.java
  backend/src/main/java/com/palette/utils/S3Uploader.java
  backend/src/main/java/com/palette/utils/argumentresolver/LoginArgumentResolver.java
  backend/src/main/java/com/palette/utils/constant/ConstantUtil.java
  backend/src/main/java/com/palette/utils/constant/HttpResponseUtil.java
  backend/src/main/java/com/palette/utils/constant/SessionUtil.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/repository/LikeRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#30 추가 : 메인페이지 Palette.Story, ScrollTo & footer 작업
  frontend/css/main.css
  frontend/images/facebook.png
  frontend/images/instagram.png
  frontend/images/twitter.png
  frontend/index.html
  frontend/js/main.js
  frontend/static/foorter.js
  frontend/static/footer.css
  frontend/static/footer.html
Labels: 🥇 Frontend

#33 추가 : Controller test, spring rest doc 작성완료
  backend/BOOT-INF/classes/static/docs/api-guide.html
  backend/build.gradle
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/config/SecurityConfig.java
  backend/src/main/java/com/palette/controller/CommentController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/dto/request/CommentDto.java
  backend/src/main/java/com/palette/dto/request/PostRequestDto.java
  backend/src/main/java/com/palette/dto/response/CommentResponsesDto.java
  backend/src/main/java/com/palette/dto/response/LikeResponsesDto.java
  backend/src/main/java/com/palette/dto/response/PostGroupsResponseDto.java
  backend/src/main/java/com/palette/dto/response/StoryListResponseDto.java
  backend/src/main/java/com/palette/dto/response/StoryListResponsesDto.java
  backend/src/main/java/com/palette/utils/S3Uploader.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/ControllerTest.java
  backend/src/test/java/com/palette/controller/PageControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
  backend/src/test/java/com/palette/controller/util/PrettyPrintingUtils.java
  backend/src/test/java/com/palette/controller/util/RestDocUtil.java
Labels: 👍 backend

#35 수정 : REST docs pretty print
  README.md
  backend/.gitignore
  backend/BOOT-INF/classes/static/docs/api-guide.html
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/domain/post/Comment.java
  backend/src/main/java/com/palette/domain/post/Like.java
  backend/src/main/java/com/palette/service/CommentService.java
  backend/src/main/java/com/palette/service/LikeService.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/PageControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/controller/util/RestDocUtil.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend, 🥇 Frontend

#37 추가 : AWS EC2 연동
  backend/.gitignore
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/controller/PageController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/dto/SearchCondition.java
  backend/src/main/java/com/palette/repository/impl/PostGroupRepositoryImpl.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/controller/PageControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
Labels: 👍 backend

#38 추가 : aws 배포 위한 test 세팅 추가
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Labels: 👍 backend

#41 추가: PLAN 페이지 화면 작업
  frontend/css/budget.css
  frontend/css/gorupInfo.css
  frontend/css/member.css
  frontend/css/plan.css
  frontend/js/budget.js
  frontend/js/groupInfo.js
  frontend/js/planmain.js
  frontend/member/join.html
  frontend/member/login.html
  frontend/member/modifyInfo.html
  frontend/plan/budget.html
  frontend/plan/group.html
  frontend/plan/groupInfo.html
  frontend/plan/main.html
  frontend/static/header.html
Labels: 🥇 Frontend

#42 추가 : member Controller , aws 운영에 다른 test db 분리
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/controller/PageController.java
  backend/src/main/java/com/palette/domain/member/Member.java
  backend/src/main/java/com/palette/dto/request/MemberDto.java
  backend/src/main/java/com/palette/dto/request/MemberUpdateDto.java
  backend/src/main/java/com/palette/dto/response/MemberResponseDto.java
  backend/src/main/java/com/palette/service/MemberService.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
  backend/src/test/java/com/palette/service/MemberServiceTest.java
  backend/src/test/resources/application.properties
Labels: 👍 backend

#43 수정 : 운영 db, test db 분리
  README.md
  backend/.gitignore
  backend/src/main/java/com/palette/controller/CommentController.java
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/utils/annotation/LoginChecker.java
  backend/src/main/java/com/palette/utils/aop/LoginCheckerAspect.java
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/PaletteApplicationTests.java
  backend/src/test/java/com/palette/ProfileTests.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/repository/BudgetRepositoryTest.java
  backend/src/test/java/com/palette/repository/CommentRepositoryTest.java
  backend/src/test/java/com/palette/repository/ExpenseRepositoryTest.java
  backend/src/test/java/com/palette/repository/GroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/LikeRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/BudgetServiceTest.java
  backend/src/test/java/com/palette/service/CommentServiceTest.java
  backend/src/test/java/com/palette/service/GroupServiceTest.java
  backend/src/test/java/com/palette/service/MemberServiceTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
  backend/src/test/resources/application.properties
Labels: 👍 backend

#44 추가 : about 메뉴 & footer 작업
  frontend/index.html
  frontend/static/footer.css
  frontend/static/footer.html
  frontend/static/header.html
  frontend/static/header.js
Labels: 🥇 Frontend

#47 추가 : 이메일 전송 기능추가
  backend/build.gradle
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/domain/member/Member.java
  backend/src/main/java/com/palette/dto/MailDto.java
  backend/src/main/java/com/palette/dto/request/EmailDto.java
  backend/src/main/java/com/palette/dto/request/MemberDto.java
  backend/src/main/java/com/palette/repository/MemberRepository.java
  backend/src/main/java/com/palette/service/MemberService.java
  backend/src/main/java/com/palette/service/SendEmailService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/service/GroupServiceTest.java
  backend/src/test/java/com/palette/service/MemberServiceTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
Labels: 👍 backend

#48 추가 : Controller Test 최종 수정 , docs 추가
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/config/WebConfig.java
  backend/src/main/java/com/palette/controller/BudgetController.java
  backend/src/main/java/com/palette/controller/ExpenseController.java
  backend/src/main/java/com/palette/controller/GroupController.java
  backend/src/main/java/com/palette/domain/group/Group.java
  backend/src/main/java/com/palette/dto/MailDto.java
  backend/src/main/java/com/palette/dto/request/BudgetDto.java
  backend/src/main/java/com/palette/dto/request/EmailDto.java
  backend/src/main/java/com/palette/dto/request/ExpenseDto.java
  backend/src/main/java/com/palette/dto/request/GroupDto.java
  backend/src/main/java/com/palette/dto/request/GroupJoinDto.java
  backend/src/main/java/com/palette/dto/request/GroupUpdateDto.java
  backend/src/main/java/com/palette/service/ExpenseService.java
  backend/src/main/java/com/palette/utils/annotation/EnumNull.java
  backend/src/main/java/com/palette/utils/constant/ConstantUtil.java
  backend/src/main/java/com/palette/utils/validator/EnumNullValidator.java
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/palette/controller/BudgetControllerTest.java
  backend/src/test/java/com/palette/controller/ControllerTest.java
  backend/src/test/java/com/palette/controller/ExpenseControllerTest.java
  backend/src/test/java/com/palette/controller/GroupControllerTest.java
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
  backend/src/test/java/com/palette/service/BudgetServiceTest.java
  backend/src/test/java/com/palette/service/GroupServiceTest.java
Labels: 👍 backend

#52 수정 : 로그인 JWT로 변경
  backend/build.gradle
  backend/src/docs/asciidoc/api-guide.adoc
  backend/src/main/java/com/palette/config/WebConfig.java
  backend/src/main/java/com/palette/controller/BudgetController.java
  backend/src/main/java/com/palette/controller/CommentController.java
  backend/src/main/java/com/palette/controller/ExpenseController.java
  backend/src/main/java/com/palette/controller/GroupController.java
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/controller/auth/AuthenticationPrincipal.java
  backend/src/main/java/com/palette/controller/auth/AuthorizationExtractor.java
  backend/src/main/java/com/palette/controller/auth/JwtTokenProvider.java
  backend/src/main/java/com/palette/dto/Token.java
  backend/src/main/java/com/palette/dto/request/MemberDto.java
  backend/src/main/java/com/palette/dto/response/MemberResponseDto.java
  backend/src/main/java/com/palette/service/MemberService.java
  backend/src/main/java/com/palette/service/PostService.java
  backend/src/main/java/com/palette/utils/aop/LoginCheckerAspect.java
  backend/src/main/java/com/palette/utils/argumentresolver/LoginArgumentResolver.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/com/palette/controller/BudgetControllerTest.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/ControllerTest.java
  backend/src/test/java/com/palette/controller/ExpenseControllerTest.java
  backend/src/test/java/com/palette/controller/GroupControllerTest.java
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
Labels: 👍 backend, 🥇 Frontend

#53 수정 : 비즈니스 요구사항 변경으로 LocalDateTime -> LocalDate 변경
  backend/src/main/java/com/palette/domain/Period.java
  backend/src/main/java/com/palette/dto/PeriodDto.java
  backend/src/main/java/com/palette/dto/response/PostGroupResponseDto.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
  backend/src/test/java/com/palette/repository/CommentRepositoryTest.java
  backend/src/test/java/com/palette/repository/LikeRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostGroupRepositoryTest.java
  backend/src/test/java/com/palette/repository/PostRepositoryTest.java
  backend/src/test/java/com/palette/service/CommentServiceTest.java
  backend/src/test/java/com/palette/service/PostGroupServiceTest.java
  backend/src/test/java/com/palette/service/PostServiceTest.java
Labels: 👍 backend

#54 리팩토링 : ControllerTest, Controller 코드 리팩토링
  backend/src/main/java/com/palette/controller/BudgetController.java
  backend/src/main/java/com/palette/controller/ExpenseController.java
  backend/src/main/java/com/palette/controller/GroupController.java
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/controller/auth/JwtTokenProvider.java
  backend/src/main/java/com/palette/controller/auth/Token.java
  backend/src/main/java/com/palette/domain/member/Member.java
  backend/src/main/java/com/palette/dto/request/ExpenseDto.java
  backend/src/main/java/com/palette/dto/response/MemberResponseDto.java
  backend/src/main/java/com/palette/repository/CommentRepository.java
  backend/src/main/java/com/palette/repository/CommentRepositoryCustom.java
  backend/src/main/java/com/palette/repository/GroupRepository.java
  backend/src/main/java/com/palette/repository/MemberGroupRepository.java
  backend/src/main/java/com/palette/repository/PostRepository.java
  backend/src/main/java/com/palette/service/BudgetService.java
  backend/src/main/java/com/palette/service/ExpenseService.java
  backend/src/main/java/com/palette/service/LikeService.java
  backend/src/main/java/com/palette/service/PostGroupService.java
  backend/src/main/java/com/palette/utils/advice/PaletteExceptionHandler.java
  backend/src/main/java/com/palette/utils/aop/LoginCheckerAspect.java
  backend/src/main/java/com/palette/utils/argumentresolver/LoginArgumentResolver.java
  backend/src/main/java/com/palette/utils/constant/SessionUtil.java
  backend/src/test/java/com/palette/controller/BudgetControllerTest.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/ControllerTest.java
  backend/src/test/java/com/palette/controller/ExpenseControllerTest.java
  backend/src/test/java/com/palette/controller/GroupControllerTest.java
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/controller/RestDocControllerTest.java
  backend/src/test/java/com/palette/service/ExpenseServiceTest.java
Labels: 👍 backend

#55 추가 : backend Dockerfile 생성, Nginx 추가를 위한 api 주소 수정
  backend/Dockerfile
  backend/src/main/java/com/palette/config/WebConfig.java
  backend/src/main/java/com/palette/controller/BudgetController.java
  backend/src/main/java/com/palette/controller/CommentController.java
  backend/src/main/java/com/palette/controller/ExpenseController.java
  backend/src/main/java/com/palette/controller/GroupController.java
  backend/src/main/java/com/palette/controller/MemberController.java
  backend/src/main/java/com/palette/controller/PageController.java
  backend/src/main/java/com/palette/controller/PostController.java
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/test/java/com/palette/controller/BudgetControllerTest.java
  backend/src/test/java/com/palette/controller/CommentControllerTest.java
  backend/src/test/java/com/palette/controller/ExpenseControllerTest.java
  backend/src/test/java/com/palette/controller/GroupControllerTest.java
  backend/src/test/java/com/palette/controller/MemberControllerTest.java
  backend/src/test/java/com/palette/controller/PageControllerTest.java
  backend/src/test/java/com/palette/controller/PostControllerTest.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
Labels: 👍 backend

#58 수정 : paging query 개선
  backend/src/main/java/com/palette/repository/impl/PostGroupRepositoryImpl.java
  backend/src/main/java/com/palette/repository/impl/PostRepositoryImpl.java
Labels: 👍 backend

#59 추가 : Palette.story 데이터 연결 및 footer 파일명 수정
  frontend/css/main.css
  frontend/index.html
  frontend/js/main.js
  frontend/static/footer.html
  frontend/static/footer.js
Labels: 🥇 Frontend

#61 추가: member/plan 데이터 연결
  .idea/runConfigurations.xml
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/css/member.css
  frontend/css/plan.css
  frontend/images/profile_default.png
  frontend/js/group.js
  frontend/js/groupInfo.js
  frontend/js/join.js
  frontend/js/login.js
  frontend/js/member.js
  frontend/js/mypage.js
  frontend/js/planmain.js
  frontend/member/findPw.html
  frontend/member/join.html
  frontend/member/login.html
  frontend/member/modifyInfo.html
  frontend/plan/budget.html
  frontend/plan/group.html
  frontend/plan/groupInfo.html
  frontend/plan/main.html
Labels: 🥇 Frontend

#72 수정 : html 내 경로 수정 및 오픈 그래프& 트위터 카드 추가
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/palette.png
  frontend/public/static/footer.html
  frontend/public/static/header.html
Labels: 🥇 Frontend

#78 추가: budget 페이지 데이터 통신작업
  frontend/public/css/budget.css
  frontend/public/js/budget.js
  frontend/public/js/login.js
  frontend/public/js/mypage.js
  frontend/public/js/planmain.js
  frontend/public/static/header.css
  frontend/public/static/header.html
  frontend/public/static/header.js
  frontend/view/member/login.html
  frontend/view/plan/budget.html
  frontend/view/plan/group.html
Labels: 🥇 Frontend

#82 수정: 잔버그 수정
  frontend/public/js/budget.js
  frontend/public/js/mypage.js
  frontend/view/member/login.html
  frontend/view/plan/budget.html
Labels: 🥇 Frontend

#84 수정: 모달 위치, 지출 금액 한도 조정 및 헤더 푸터 수정
  frontend/.vscode/settings.json
  frontend/public/css/budget.css
  frontend/public/css/member.css
  frontend/public/css/plan.css
  frontend/public/js/budget.js
  frontend/public/js/join.js
  frontend/public/static/footer.html
  frontend/public/static/header.html
  frontend/public/static/header.js
  frontend/view/member/join.html
  frontend/view/plan/budget.html
  frontend/view/plan/main.html
Labels: 🥇 Frontend

#85 수정 : 시작 종료일자 버그, 최소, 최대값 버그 해결
  backend/src/main/java/com/palette/controller/PostGroupController.java
  backend/src/main/java/com/palette/dto/PeriodDto.java
  backend/src/main/java/com/palette/dto/request/CommentDto.java
  backend/src/main/java/com/palette/dto/request/ExpenseDto.java
  backend/src/main/java/com/palette/dto/request/PostGroupDto.java
  backend/src/main/java/com/palette/dto/request/PostRequestDto.java
  backend/src/test/java/com/palette/controller/PostGroupControllerTest.java
  backend/src/test/java/com/palette/controller/util/RestDocUtil.java
Labels: 👍 backend

#88 추가 : 검색페이지 데이터 연결 작업 & 그 외 페이지 추가 및 수정
  frontend/index.html
  frontend/public/css/search.css
  frontend/public/css/write.css
  frontend/public/js/main.js
  frontend/public/js/search.js
  frontend/public/static/footer.css
  frontend/public/static/header.css
  frontend/public/static/header.html
  frontend/public/static/header.js
  frontend/public/static/search.html
Labels: 🥇 Frontend

#89 수정 : 버튼& 댓글 & 코드 정렬
  frontend/public/css/read.css
  frontend/public/css/story.css
  frontend/public/css/storyDetail.css
  frontend/public/css/update.css
  frontend/public/js/groupUpdate.js
  frontend/public/js/myblog.js
  frontend/public/js/myblogDetail.js
  frontend/public/js/read.js
  frontend/public/js/storyDetail.js
  frontend/public/js/update.js
  frontend/public/js/write.js
  frontend/view/Board/groupUpdate.html
  frontend/view/Board/myblogDetail.html
  frontend/view/Board/read.html
  frontend/view/Board/story.html
  frontend/view/Board/storyDetail.html
  frontend/view/Board/update.html
  frontend/view/Board/write.html
Labels: 🥇 Frontend

#90 수정: 글자수알림 & 댓글창 수정
  frontend/public/css/read.css
  frontend/public/js/read.js
  frontend/public/js/update.js
  frontend/public/js/write.js
  frontend/view/Board/read.html
  frontend/view/Board/update.html
  frontend/view/Board/write.html
Labels: 🥇 Frontend

#91 수정 : myblog,story 수정& 댓글 more 기능 구현
  frontend/public/css/groupUpdate.css
  frontend/public/css/read.css
  frontend/public/css/story.css
  frontend/public/css/storyDetail.css
  frontend/public/js/groupUpdate.js
  frontend/public/js/myblog.js
  frontend/public/js/myblogDetail.js
  frontend/public/js/read.js
  frontend/public/js/story.js
  frontend/public/js/storyDetail.js
  frontend/public/js/update.js
  frontend/public/js/write.js
  frontend/view/Board/groupUpdate.html
  frontend/view/Board/myblog.html
  frontend/view/Board/myblogDetail.html
  frontend/view/Board/read.html
  frontend/view/Board/story.html
  frontend/view/Board/storyDetail.html
Labels: 🥇 Frontend

#92 추가 : 검색페이지 페이징 추가 & 메인페이지 visual 수정 & favicon 경로 수정
  frontend/index.html
  frontend/public/css/main.css
  frontend/public/css/search.css
  frontend/public/images/favicon.png
  frontend/public/js/search.js
  frontend/public/static/search.html
  frontend/view/Board/groupUpdate.html
  frontend/view/Board/myblog.html
  frontend/view/Board/myblogDetail.html
  frontend/view/Board/read.html
  frontend/view/Board/story.html
  frontend/view/Board/storyDetail.html
  frontend/view/Board/update.html
  frontend/view/Board/write.html
  frontend/view/member/findPw.html
  frontend/view/member/join.html
  frontend/view/member/login.html
  frontend/view/member/modifyInfo.html
  frontend/view/plan/budget.html
  frontend/view/plan/group.html
  frontend/view/plan/groupInfo.html
  frontend/view/plan/main.html
Labels: 🥇 Frontend

#93 수정 : 코드 수정
  frontend/public/css/read.css
  frontend/public/css/story.css
  frontend/public/css/storyDetail.css
  frontend/public/js/groupUpdate.js
  frontend/public/js/myblog.js
  frontend/public/js/myblogDetail.js
  frontend/public/js/read.js
  frontend/public/js/story.js
  frontend/public/js/storyDetail.js
  frontend/public/js/update.js
  frontend/public/js/write.js
  frontend/view/Board/groupUpdate.html
  frontend/view/Board/read.html
  frontend/view/Board/update.html
  frontend/view/Board/write.html
  
Labels: 🥇 Frontend

#94 수정: member/plan 코드 정리
  frontend/public/css/member.css
  frontend/public/css/plan.css
  frontend/public/js/budget.js
  frontend/public/js/group.js
  frontend/public/js/groupInfo.js
  frontend/public/js/join.js
  frontend/public/js/login.js
  frontend/public/js/mypage.js
  frontend/public/js/planmain.js
  frontend/public/static/header.js
  frontend/view/member/findPw.html
  frontend/view/member/join.html
  frontend/view/member/login.html
  frontend/view/member/modifyInfo.html
  frontend/view/plan/budget.html
  frontend/view/plan/group.html
  frontend/view/plan/groupInfo.html
  frontend/view/plan/main.html
Labels: 🥇 Frontend

#95 수정: url 경로 수정
  frontend/public/js/groupUpdate.js
  frontend/public/js/myblog.js
  frontend/public/js/update.js
  frontend/public/js/write.js
Labels: 🥇 Frontend
